<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Github Starred Repos
    </title>
    

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="{{url_for('static', filename='js/react.js')}}"></script>
    <script src="{{url_for('static', filename='js/react-dom.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/index.js')}}"></script>
    <script
              src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js"></script>
    <script src="https://npmcdn.com/react-router@2.4.0/umd/ReactRouter.min.js"></script>

</head>

<body>
    <div id="App">
    </div>
</body>

</html>