footer{
    margin:10px;
}

h1 {
    text-align: center;
    text-decoration: none;
}

a.user{
    color:white;
}

div.img{
    float:left;
    display: inline-block;
    margin:20px;
}
p.user_description{
    text-align: justify;
}

span#actor_heading{
    text-align: center;
    font-size: 45px;
    height: 100%;
    text-decoration: underline;
}
h1.page_h{
    text-decoration: none;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.image_test{
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
    height:40%;
    width: 40%;
    display: block;
    height: auto;
    max-width: 100%;
}

.contact  {
    border-radius: 100px;
}

.c{
    font-size: 24px;
}

.center{
    text-align: center;
}


.Head{
    margin-bottom:40px;
}

h3.Reponame{
    margin-left:auto;
    margin-right:auto;
}
.active {
  background-color: #ccffff;
}